<!-- templates/careers.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container my-5" style="color: #000  ;">
    <h1>Careers</h1>
    <p>Join our team and help us build innovative solutions that make a difference. We are always looking for talented, passionate individuals to join our team.</p>
    
    <h3>Current Openings</h3>
    <div class="mt-4">
        <p>Currently, there are no job openings available. Please check back later for new opportunities.</p>
    </div>
</div>
{% endblock %}
